<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text='' defaultHref="/tabs/tab2"></ion-back-button>
        </ion-buttons>
        <ion-title>列表项 Item</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>Basic ion-item　用法(Usage)</h3>
    <ion-item>
        <ion-label>
            Item
        </ion-label>
    </ion-item>


    <ion-item (click)="buttonClick()">
        <ion-label>
            Button Item
        </ion-label>
    </ion-item>


    <ion-item href="https://www.ionicframework.com">
        <ion-label>
            Anchor Item
        </ion-label>
    </ion-item>

    <ion-item color="secondary">
        <ion-label>
            Secondary Color Item
        </ion-label>
    </ion-item>

    <h3>ion-item　箭头(Detail Arrows)</h3>
    <ion-item detail>
        <ion-label>
            Standard Item with Detail Arrow
        </ion-label>
    </ion-item>

    <ion-item (click)="buttonClick()" detail>
        <ion-label>
            Button Item with Detail Arrow
        </ion-label>
    </ion-item>

    <ion-item detail="false" href="https://www.ionicframework.com">
        <ion-label>
            Anchor Item with no Detail Arrow
        </ion-label>
    </ion-item>

    <h3>List Items</h3>
    <ion-list>
        <ion-item>
            <ion-label>
                Item
            </ion-label>
        </ion-item>

        <ion-item lines="none">
            <ion-label>
                No Lines Item
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label text-wrap>
                Multiline text that should wrap when it is too long
                to fit on one line in the item.
            </ion-label>
        </ion-item>

        <ion-item>
            <ion-label text-wrap>
                <ion-text color="primary">
                    <h3>H3 Primary Title</h3>
                </ion-text>
                <p>Paragraph line 1</p>
                <ion-text color="secondary">
                    <p>Paragraph line 2 secondary</p>
                </ion-text>
            </ion-label>
        </ion-item>

        <ion-item lines="full">
            <ion-label>
                Item with Full Lines
            </ion-label>
        </ion-item>

    </ion-list>
    <h3>Item Lines</h3>

    <ion-item lines="inset">
        <ion-label>Item Lines Inset</ion-label>
    </ion-item>


    <ion-item lines="full">
        <ion-label>Item Lines Full</ion-label>
    </ion-item>


    <ion-item lines="none">
        <ion-label>Item Lines None</ion-label>
    </ion-item>


    <ion-list lines="full">
        <ion-item>
            <ion-label>Full Lines Item 1</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Full Lines Item 2</ion-label>
        </ion-item>
    </ion-list>


    <ion-list lines="inset">
        <ion-item>
            <ion-label>Inset Lines Item 1</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>Inset Lines Item 2</ion-label>
        </ion-item>
    </ion-list>


    <ion-list lines="none">
        <ion-item>
            <ion-label>No lines Item 1</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>No lines Item 2</ion-label>
        </ion-item>

        <ion-item>
            <ion-label>No lines Item 3</ion-label>
        </ion-item>
    </ion-list>
    <h3>Media Items</h3>
    <ion-item (click)="testClick()">
        <ion-avatar slot="start">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-avatar>
        <ion-label>
            Avatar Start, Button Item
        </ion-label>
    </ion-item>

    <ion-item href="#">
        <ion-label>
            Thumbnail End, Anchor Item
        </ion-label>
        <ion-thumbnail slot="end">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-thumbnail>
    </ion-item>

    <ion-item>
        <ion-thumbnail slot="start">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-thumbnail>
        <ion-label>
            <h2>H2 Title Text</h2>
            <p>Button on right</p>
        </ion-label>
        <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-item (click)="testClick()">
        <ion-thumbnail slot="start">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAAAAAAALAAAAAABAAEAAAICTAEAOw==">
        </ion-thumbnail>
        <ion-label>
            <h3>H3 Title Text</h3>
            <p>Icon on right</p>
        </ion-label>
        <ion-icon name="close-circle" slot="end"></ion-icon>
    </ion-item>
    <h3>Buttons in Items</h3>
    <ion-item>
        <ion-button slot="start">
            Start
        </ion-button>
        <ion-label>Button Start/End</ion-label>
        <ion-button slot="end">
            End
        </ion-button>
    </ion-item>

    <ion-item>
        <ion-button slot="start">
            Start Icon
            <ion-icon name="home" slot="end"></ion-icon>
        </ion-button>
        <ion-label>Buttons with Icons</ion-label>
        <ion-button slot="end">
            <ion-icon name="star" slot="end"></ion-icon>
            End Icon
        </ion-button>
    </ion-item>

    <ion-item>
        <ion-button slot="start">
            <ion-icon slot="icon-only" name="navigate"></ion-icon>
        </ion-button>
        <ion-label>Icon only Buttons</ion-label>
        <ion-button slot="end">
            <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-button>
    </ion-item>

    <h3>Icons in Items</h3>
    <ion-item>
        <ion-label>
            Icon End
        </ion-label>
        <ion-icon name="information-circle" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
        <ion-label>
            Large Icon End
        </ion-label>
        <ion-icon name="information-circle" size="large" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
        <ion-label>
            Small Icon End
        </ion-label>
        <ion-icon name="information-circle" size="small" slot="end"></ion-icon>
    </ion-item>

    <ion-item>
        <ion-icon name="star" slot="start"></ion-icon>
        <ion-label>
            Icon Start
        </ion-label>
    </ion-item>

    <ion-item>
        <ion-label>
            Two Icons End
        </ion-label>
        <ion-icon name="checkmark-circle" slot="end"></ion-icon>
        <ion-icon name="shuffle" slot="end"></ion-icon>
    </ion-item>

    <h3>Item Inputs</h3>
    <ion-item>
        <ion-label position="floating">Datetime</ion-label>
        <ion-datetime></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Select</ion-label>
        <ion-select>
            <ion-select-option value="">No Game Console</ion-select-option>
            <ion-select-option value="nes">NES</ion-select-option>
            <ion-select-option value="n64" selected>Nintendo64</ion-select-option>
            <ion-select-option value="ps">PlayStation</ion-select-option>
            <ion-select-option value="genesis">Sega Genesis</ion-select-option>
            <ion-select-option value="saturn">Sega Saturn</ion-select-option>
            <ion-select-option value="snes">SNES</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Toggle</ion-label>
        <ion-toggle slot="end"></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Floating Input</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Input (placeholder)</ion-label>
        <ion-input placeholder="Placeholder"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Checkbox</ion-label>
        <ion-checkbox slot="start"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label>Range</ion-label>
        <ion-range></ion-range>
    </ion-item>

    <h3>ion-item-divider</h3>
    <ion-item-divider>
        <ion-label>
            Basic Item Divider
        </ion-label>
    </ion-item-divider>

    <ion-item-divider color="secondary">
        <ion-label>
            Secondary Item Divider
        </ion-label>
    </ion-item-divider>


    <ion-list>
        <ion-item-divider>
            <ion-label>
                Section A
            </ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>A1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>A2</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>A3</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>A4</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>A5</ion-label>
        </ion-item>

        <ion-item-divider>
            <ion-label>
                Section B
            </ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>B1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>B2</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>B3</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>B4</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>B5</ion-label>
        </ion-item>
    </ion-list>

    <h3>ion-item-group</h3>
    <ion-item-group>
        <ion-item-divider>
            <ion-label>A</ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>Angola</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Argentina</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Armenia</ion-label>
        </ion-item>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <ion-label>B</ion-label>
        </ion-item-divider>

        <ion-item>
            <ion-label>Bangladesh</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Belarus</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Belgium</ion-label>
        </ion-item>
    </ion-item-group>



    <ion-item-group>
        <ion-item-divider>
            <ion-label>
                Fruits
            </ion-label>
        </ion-item-divider>

        <ion-item-sliding>
            <ion-item>
                <ion-label>
                    <h3>Grapes</h3>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option>
                    Favorite
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
            <ion-item>
                <ion-label>
                    <h3>Apples</h3>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option>
                    Favorite
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-item-group>

    <ion-item-group>
        <ion-item-divider>
            <ion-label>
                Vegetables
            </ion-label>
        </ion-item-divider>

        <ion-item-sliding>
            <ion-item>
                <ion-label>
                    <h3>Carrots</h3>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option>
                    Favorite
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding>
            <ion-item>
                <ion-label>
                    <h3>Celery</h3>
                </ion-label>
            </ion-item>
            <ion-item-options>
                <ion-item-option>
                    Favorite
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-item-group>

    <h3>ion-item-sliding 左右滑动</h3>
    <ion-list>
        <ion-item-sliding>
            <ion-item>
                <ion-label>Item</ion-label>
            </ion-item>
            <ion-item-options side="start">
                <ion-item-option (click)="favorite('item')">Favorite</ion-item-option>
                <ion-item-option color="danger" (click)="share(item)">Share</ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
                <ion-item-option (click)="unread(item)">Unread</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <h3>ion-label</h3>
    <ion-label>Label</ion-label>


    <ion-label color="primary">Primary Label</ion-label>
    <ion-label color="secondary">Secondary Label</ion-label>
    <ion-label color="danger">Danger Label</ion-label>
    <ion-label color="light">Light Label</ion-label>
    <ion-label color="dark">Dark Label</ion-label>


    <ion-item>
        <ion-label>Default Item</ion-label>
    </ion-item>

    <ion-item text-wrap>
        <ion-label>
            Multi-line text that should wrap when it is too long
            to fit on one line in the item.
        </ion-label>
    </ion-item>


    <ion-item>
        <ion-label>Default Input</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="fixed">Fixed</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Floating</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="stacked">Stacked</ion-label>
        <ion-input></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Toggle</ion-label>
        <ion-toggle slot="end" checked></ion-toggle>
    </ion-item>

    <ion-item>
        <ion-checkbox slot="start" checked></ion-checkbox>
        <ion-label>Checkbox</ion-label>
    </ion-item>

    <h3>ion-note</h3>
    <ion-note>Default Note</ion-note>
    <ion-note color="primary">Primary Note</ion-note>
    <ion-note color="secondary">Secondary Note</ion-note>
    <ion-note color="danger">Danger Note</ion-note>
    <ion-note color="light">Light Note</ion-note>
    <ion-note color="dark">Dark Note</ion-note>
    <ion-list>
        <ion-item>
            <ion-label>Note (End)</ion-label>
            <ion-note slot="end">note slot end</ion-note>
        </ion-item>

        <ion-item>
            <ion-note slot="start">note slot start</ion-note>
            <ion-label>Note (Start)</ion-label>
        </ion-item>
    </ion-list>
</ion-content>