<ion-header>
    <ion-toolbar>
        <ion-title>tab1</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list lines="none">
        <ion-list-header>
            <ion-label>Link</ion-label>
        </ion-list-header>
        <ion-item [routerLink]="[ '/ui/button']">
            <!-- href="/ui/button" -->
            <ion-icon slot="start" color="medium" name="albums"></ion-icon>
            <ion-label>按钮 Button</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/action']">
            <ion-icon slot="start" color="medium" name="archive"></ion-icon>
            <ion-label>底部弹出框 Action Sheet</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/alert']">
            <ion-icon slot="start" color="medium" name="grid"></ion-icon>
            <ion-label>弹窗 Alert</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/badge']">
            <ion-icon slot="start" color="medium" name="jet"></ion-icon>
            <ion-label>徽章 Badge</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/card']">
            <ion-icon slot="start" color="medium" name="card"></ion-icon>
            <ion-label>卡片 Card</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/checkbox']">
            <ion-icon slot="start" color="medium" name="checkmark-circle-outline"></ion-icon>
            <ion-label>多选框 Checkbox</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/chip']">
            <ion-icon slot="start" color="medium" name="list"></ion-icon>
            <ion-label>薯条块 Chip</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/content']">
            <ion-icon slot="start" color="medium" name="barcode"></ion-icon>
            <ion-label>内容 Content</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/time']">
            <ion-icon slot="start" color="medium" name="alarm"></ion-icon>
            <ion-label>日期 Date & Time Pickers</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/float-button']">
            <ion-icon slot="start" color="medium" name="thunderstorm"></ion-icon>
            <ion-label>浮动按钮 Floating Action But</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/grid']">
            <ion-icon slot="start" color="medium" name="reorder"></ion-icon>
            <ion-label>栅格系统 Grid</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/infinte-scroll']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>上拉分页 Infinite Scroll</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/icons']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>图标 Icons</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/input']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>输入控件 Input</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/item']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>列表项 Item</ion-label>
        </ion-item>  
        <ion-item [routerLink]="[ '/ui/list']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>列表 List</ion-label>
        </ion-item>  
        <ion-item [routerLink]="[ '/ui/media']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>媒体 Media</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/menu']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>侧边栏 Menu</ion-label>
        </ion-item>
        <ion-item [routerLink]="[ '/ui/modal']">
            <ion-icon slot="start" color="medium" name="arrow-dropup-circle"></ion-icon>
            <ion-label>模态框 Modal</ion-label>
        </ion-item>
        
    </ion-list>
</ion-content>